<template>
  <span>
    <v-app-bar app color="blue-grey darken-2" dark>
      <v-app-bar-nav-icon class="hidden-md-and-up" @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-spacer class="hidden-md-and-up"></v-spacer>
      <v-toolbar-title><a href="/" class="title-link">{{ appTitle }}</a></v-toolbar-title>
      <v-spacer class="hidden-sm-and-down"></v-spacer>
      <template v-if="this.isAuthenticated">
        <template v-for="(item, index) in userItems">
          <v-btn text class="hidden-sm-and-down" :to="{ name: item.link}" :key="`user-${index}`">
            {{ item.text }}
          </v-btn>
        </template>
      </template>
      <template v-else>
        <template v-for="(item, index) in items">
          <v-btn text class="hidden-sm-and-down" :to="{ name: item.link}" :key="index">
            {{ item.text }}
          </v-btn>
        </template>
      </template>
    </v-app-bar>
    <v-navigation-drawer absolute v-model="drawer" class="blue-grey lighten-1" dark v-if="showAdmin || windowWidth < 960">
      <v-list>
        <template v-for="(item, index) in adminItems">
          <v-list-item :to="{ name: item.name }" :key="`admin-${index}`">
            <v-list-item-content>
              {{ item.text }}
            </v-list-item-content>
          </v-list-item>
          <v-divider :key="`admin-divider-${index}`"></v-divider>
        </template>
        <template v-if="this.isAuthenticated">
          <template v-for="(item, index) in userItems">
            <v-list-item :to="{ name: item.name }" :key="index">
              <v-list-item-content>
                {{ item.text }}
              </v-list-item-content>
            </v-list-item>
            <v-divider :key="`user-divider-${index}`"></v-divider>
          </template>
        </template>
        <template v-else>
          <template v-for="(item, index) in items">
            <v-list-item :to="{ name: item.name }" :key="index">
              <v-list-item-content>
                {{ item.text }}
              </v-list-item-content>
            </v-list-item>
            <v-divider :key="`divider-${index}`"></v-divider>
          </template>
        </template>
      </v-list>
    </v-navigation-drawer>
  </span>
</template>

<script>
export default {
  name: 'AppNavigation',
  props: {
    'showAdmin': {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      drawer: null,
      items: [
        { text: 'Sign In', link: 'SignIn' },
        { text: 'Register', link: '#' }],
      userItems: [
        { text: 'Logout', link: 'Logout' },
      ],
      adminItems: [
        { text: 'Dashboard', link: 'AdminDashboard' },
        { text: 'Users', link: '#'},
        { text: 'Talks', link: '#'},
        { text: 'Rooms', link: '#'}
      ],
      windowWidth: window.innerWidth
    };
  },
  computed: {
    appTitle() {
      return this.$store.state.conference['name'];
    },
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    }
  },
  mounted() {
    this.$nextTick(function () {
      window.addEventListener('resize', this.onResize);
    });
  },
  beforeDistroy() {
    window.removeEventListener('resize', this.onResize);
  },
  methods: {
    onResize: function() {
      this.windowWidth = window.innerWidth;
    }
  }
};
</script>

<style scoped>
a.title-link {
  color: white;
  text-decoration: none;
}
</style>
