<template>
  <v-card color="green accent-3">
    <v-list-item three-line>
      <v-list-item-avatar size="80" color="grey">
        <v-icon>mdi-account-group</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <div class="overline mb-4">{{ room.name }}</div>
        <v-list-item-title class="headline mb-1">XXX</v-list-item-title>
        <v-list-item-subtitle>Streaming normally</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-card-actions>
      <v-btn outlined block :href="room.stream" target="_blank">
        Watch
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'RoomStatus',
  props: {
    room: {
      type: Object
    }
  }
}
</script>

<style scoped></style>
