<template>
  <v-container>
    <v-row>
      <v-col cols="2" class="hidden-sm-and-smaller"></v-col>
      <v-col cols="12" md="8">
        <v-card>
          <v-card-title>Sign In</v-card-title>
          <v-card-text>
            <v-form v-model="valid">
              <v-text-field v-model="username" :rules="usernameRules" label="Username" required>
              </v-text-field>
              <v-text-field v-model="password" :rules="passwordRules" label="Password" type="password" required>
              </v-text-field>
              <v-btn :disabled="!valid" color="primary" @click="submit">Submit</v-btn>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="2" class="hidden-sm-and-smaller"></v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'UserAuthentication',
  data() {
    return {
      valid: false,
      username: '',
      usernameRules: [
        v => !!v || 'Username is required'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Password is required'
      ]
    };
  },
  methods: {
    submit: function() {
      const { username, password } = this;
      this.$store.dispatch('auth-request', {username, password}).then(() => {
        this.$router.push('/');
      });
    }
  }
}
</script>

<style scoped></style>
