<template>
  <video controls autoplay playsinline ref="room" width="100%" :src="stream" class="stream"></video>
</template>

<script>
export default {
  name: 'WebRtcVideo',
  props: {
    stream: {
      type: String
    }
  }
}
</script>

<style scoped>
.stream {
  height: 80%;
}
</style>
