<template>
  <v-btn-toggle v-model="controls" multiple>
    <v-btn :value="1" @click="toggleMicrophone">
      <v-icon>{{ microphoneIcon }}</v-icon>
      <span class="hidden-sm-and-down"> Microphone</span>
    </v-btn>
    <v-btn :value="2" @click="toggleCamera">
      <v-icon>{{ cameraIcon }}</v-icon>
      <span class="hidden-sm-and-down"> Camera</span>
    </v-btn>
    <v-btn :value="3">
      <v-icon>mdi-comment-question</v-icon>
      <span class="hidden-sm-and-down"> Question</span>
    </v-btn>
  </v-btn-toggle>
</template>

<script>
export default {
  name: 'WebRtcControls',
  data() {
    return {
      controls: [1, 2],
      microphoneIcon: "mdi-microphone-off",
      cameraIcon: "mdi-video-off"
    };
  },
  methods: {
    toggleMicrophone: function() {
      if (1 in this.controls) {
        this.microphoneIcon = "mdi-microphone";
      } else {
        this.microphoneIcon = "mdi-microphone-off";
      }
    },
    toggleCamera: function() {
      if (2 in this.controls) {
        this.cameraIcon = "mdi-video";
      } else {
        this.cameraIcon = "mdi-video-off";
      }
    }
  }
}
</script>

<style scoped></style>
