<template>
  <v-app>
    <v-content transition="slide-x-transition">
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import Api from '@/utils/api.js'

export default {
  name: 'App',
  mounted() {
    var api = new Api();
    api.conference(1).then(response => {
      this.$store.commit('conference', response.data);
    });
  }
};
</script>

<style></style>
