<template>
  <v-app>
    <app-navigation show-admin></app-navigation>
    <v-container>
      <v-row>
        <v-col cols="2" class="hidden-sm-and-smaller"></v-col>
        <v-col cols="12" md="3" v-for="room in rooms" :key="room.id">
          <room-status :room="room"></room-status>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppNavigation from '@/components/AppNavigation';
import RoomStatus from '@/components/RoomStatus';

export default {
  name: 'AdminDashboard',
  components: {
    AppNavigation,
    RoomStatus
  },
  computed: {
    rooms() {
      if (this.$store.state.rooms.length > 0) {
        return this.$store.state.rooms;
      } else {
        return [];
      }
    }
  }
}
</script>

<style></style>
