<template>
  <v-app>
    <app-navigation></app-navigation>
    <room-list @set-room="onSetRoom"></room-list>
    <v-container>
      <v-row align="center" justify="start">
        <v-col offset-md="2" md="8" cols="12">
          <web-rtc-video :stream="stream"></web-rtc-video>
        </v-col>
      </v-row>
      <v-row align="center" justify="start">
        <v-col offset-md="2" md="8" cols="12">
          <web-rtc-controls></web-rtc-controls>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="2" class="hidden-sm-and-down">
          <web-rtc-video stream="http://localhost.CHANGEME"></web-rtc-video>
        </v-col>
        <v-col md="8" cols="12">
          <irc-window :channel="ircChannel" :server="ircServer"></irc-window>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import AppNavigation from '@/components/AppNavigation';
import IrcWindow from '@/components/IrcWindow';
import RoomList from '@/components/RoomList';
import WebRtcControls from '@/components/WebRtcControls';
import WebRtcVideo from '@/components/WebRtcVideo';

export default {
  name: 'Home',
  components: {
    AppNavigation,
    IrcWindow,
    RoomList,
    WebRtcControls,
    WebRtcVideo
  },
  data() {
    return { room: 0 };
  },
  computed: {
    stream() {
      if (this.$store.state.rooms.length > this.room) {
        return this.$store.state.rooms[this.room].stream;
      } else {
        return '';
      }
    },
    ircChannel() {
      if (this.$store.state.rooms.length > this.room) {
        return this.$store.state.rooms[this.room].irc_channel;
      } else {
        return '';
      }
    },
    ircServer() {
      if (this.$store.state.conference) {
        return this.$store.state.conference.irc_server;
      } else {
        return '';
      }
    }

  },
  methods: {
    onSetRoom: function (roomId) {
      this.room = roomId;
    }
  }
};
</script>

<style></style>
