<template>
  <v-app>
    <div></div>
  </v-app>
</template>

<script>
export default {
  name: 'Logout',
  mounted() {
    this.$store.dispatch('auth-logout').then(() => {
      this.$router.push('/accounts/login/');
    });
  }
}
</script>
