<template>
  <v-app>
    <app-navigation></app-navigation>
    <user-authentication></user-authentication>
  </v-app>
</template>

<script>
import AppNavigation from '@/components/AppNavigation';
import UserAuthentication from '@/components/UserAuthentication';

export default {
  name: 'SignIn',
  components: {
    AppNavigation,
    UserAuthentication
  }
}
</script>

<style></style>
